<html>
    <head>
        <title>Import zone file to PowerDNS Manager</title>
        <style type="text/css" media="screen,projection">

            body {
                font-family: sans;
                font-size: 100%;
            }
            
            label {
				width: 4em;
				float: left;
				text-align: right;
				margin-right: 0.5em;
				display: block
			}
				
			.submit  {
				margin-left: 4.5em;
			}
			 
        </style>

  </head>
  <body>
    <h1>Import Zone File</h2>
	<form action="{% url import_zone %}" method="post">{% csrf_token %}
	   {{ form.as_p }}
	   <input class="submit" type="submit" value="Submit" />
	</form>

  </body>
</html>
