{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='powerdns_manager' %}">PowerDNS Manager</a>
        &rsaquo; <a href="{% url 'admin:powerdns_manager_domain_changelist' %}">{% trans "Zones" %}</a>
        &rsaquo; {% trans "Export zone file" %}
    </div>
{% endblock %}

{% block title %}{% trans 'Zone file for' %} {{ origin }}{% endblock %}

{% block content %}
    <h1>{% trans 'Zone file for' %} {{ origin }}</h1>
    <p>{% trans 'The zone file has been exported successfully.' %}</p>
    <pre>{{ zone_text }}</pre>
{% endblock %}
